.action-button {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: $page-green-color;

  border-radius: 99px;

  padding: 16px 0;

  background-color: #CFE9D9;
}