//color
$page-color: #FFFDFC;
$page-brown-color: #6D4C41;
$page-black-color: #1C1C1C;
$page-green-color: #021A0B;
$page-light-green-color: #34794F;


//paddings
$padding-mobile: 32px;
$padding-desktop: 175px;